* {
    box-sizing: border-box;
}

body {
    color: #00415E;
    font-family: 'Sorts Mill Goudy', serif;
    background-color: #F9DAD8;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    min-width: 115px;
    padding-top: 5px;
    background: none;
    border: 2px solid #00415E;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 42px;
    white-space: nowrap;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.meal {
    overflow: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 2px solid #59906C;
}

.meal button {
    margin-bottom: 20px;
    min-width: 75px;
    line-height: 20px;
}

.meal::after {
    clear: both;
}

.edit-meal {
    float: left;
}

.delete-meal {
    float: right;
}

.dish-name {
    font-size: 24px;
    font-family: 'Charmonman', cursive;
}

.main-view {

    min-height: 100vh;
    text-align: center;
    background-color: #ffffff;
}

header {
    font-family: 'Charmonman', cursive;
    font-size: 30px;
    width: 100%;
    padding: 20px;
}

label {
    font-size: 20px;
    font-weight: 800;
    margin: 10px;
    display: block;
}

input {
    padding: 10px;
    border: 2px solid #00415E;
    background: repeating-linear-gradient(45deg,
        #daf2f2,
        #daf2f2 30px,
        #ffffff 30px,
        #ffffff 60px);

}

nav {
    width: 100%;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 800;
}

nav p {
    margin: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
}

nav button {
    line-height: 100%;
    min-width: 0px;
    margin: 2px;
}



.msg-handler {
    margin: 10px 0;
    position: static;
    text-align: center;
    background-color: #EEECEF;
    color: red;
    border: 5px solid #326892;
    border-radius: 5px;
}

.hidden {
    display: none;
}

/* font-family: 'Trade Gothic W01', sans-serif; */
@media screen and (min-width: 320px) {}

@media screen and (min-width: 600px) {
    .main-view {
        margin-left: 20%;
        margin-right: 20%;
    }

    .meal {}
}

@media screen and (min-width: 900px) {

    .add-meal {
        clear: left;
    }

    .meal::after {
        clear: both;
    }

    .meal {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .meal {
        width: 33.333%;
    }
}